---
import Section from "./Section.astro"
Section
---

<Section color='white' title='Experimente Tesla' subtitle='Programe una demostración de manejo hoy'>
    <div slot='footer'>
        <a class='border-[3px] border-white bg-white/5 backdrop-blur-sm rounded text-sm font-medium text-white px-12 py-2 hover:bg-white hover:text-black transition-colors' href="#">Unidad de demostración</a>
    </div>
    <video slot='background'  autoplay muted loop src="../../public/public_video.webm"></video>
</Section>