---
import Section from "./Section.astro"
Section
---

<Section color='white' title='Powerwall' subtitle='Energía para todos'>
        <div slot='footer' class='gap-x-4 flex mx-auto'>
            <a class="border-[3px] border-gray-800 bg-gray-800 text-sm rounded font-medium text-white px-16 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
            href="#">
            Saber más
            </a>
        </div>
    <img slot='background' src="powerwall.avif" alt='powerwall'/>
</Section>